$body-font: Arial, Helvetica, "sans-serif";

body {
  font-family: $body-font;
}

#preview {
  object-fit: cover;
  z-index: 0;
  width: 100vw;
  height: 100vh;
  position: absolute;
}

#cameraBtn {
  z-index: 1;
  width: 6rem;
  height: 6rem;
  border-radius: 9999px;
  position: absolute;
  bottom: 0;
  margin-bottom: 1rem;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.modal {
  margin: 1em;
  align-items: center;
  display: none;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  position: fixed;
  z-index: 40;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  
  &.is-active {
    display: flex;
  }
}

.modal-background {
  background-color: rgba(10, 10, 10, 0.86);
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.modal-content {
  margin: 0 20px;
  max-height: calc(100vh - 160px);
  overflow: auto;
  position: relative;
  background-color: rgba(10, 10, 10, 0.86);
  color: white;
  text-align: center;
  margin: 2em;
  width: 100%;
}

#currentPhoto {
  margin: 2em 0;
  max-width: 100%;
}

#result {
  margin: 0 2em;
}

.modal-close {
  position: relative;
  color: white;
  border: none;
  border-radius: 9999px;
  cursor: pointer;
  pointer-events: auto;
  display: inline-block;
  flex-grow: 0;
  flex-shrink: 0;
  background: none;
  height: 32px;
  max-height: 32px;
  max-width: 32px;
  min-height: 32px;
  min-width: 32px;
  width: 32px;
}

#logo {
  z-index: 4;
  position: absolute;
  top: 0;
  margin: 1em;
  width: 10rem;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
